.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.box>div{
    margin-top: 1em;
    margin-right: 1em;
    width: 20%;
    background-color: lightcoral;
    border-radius: 1em;
}